[package]
name = "dshot-pio"
version = "0.4.0"
edition = "2021"

[features]
default = []
std = []
embassy-rp = ["dep:embassy-rp", "embassy-rp/rp2040"]
embassy-rp2350 = ["dep:embassy-rp", "embassy-rp/rp235xa"]
rp2040-hal = ["dep:rp2040-hal"]

# Note: embassy-rp and embassy-rp2350 are mutually exclusive

[dependencies]
dshot-frame = "0.2.1"

rp2040-hal = { version = "0.11", optional = true }
embassy-rp = { version = "0.9.0", optional = true, default-features = false }
